root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
indent_style = space
trim_trailing_whitespace = false

[*.{yaml,yml,yml.dist,yml.tmpl}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

[Dockerfile]
indent_style = space
indent_size = 2

[*.{sh,bats}]
indent_style = space
indent_size = 2

# directories created by git submodules
[{test/bats/**,test/test_helper/bats-assert/**,test/test_helper/bats-support/**,target/docker-configomat/**}]
insert_final_newline = none
indent_style = none
indent_size = none
trim_trailing_whitespace = none
end_of_line = none
