root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

[*.{yaml,yml,yml.dist,yml.tmpl}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

[Dockerfile]
indent_style = space
indent_size = 2

[*.{sh,bats}]
indent_style = space
indent_size = 2

[target/start-mailserver.sh]
indent_style = tab
indent_size = 4
