#################################################
###  General  ###################################
#################################################

.env
docs/site/
docker-data/

#################################################
###  IDEs  ######################################
#################################################

.idea/
.vscode/

#################################################
###  Tests  #####################################
#################################################

test/duplicate_configs/
test/config/dovecot-masters.cf
test/config/postfix-accounts.cf
