mail:
  image: tvial/docker-mailserver:v2
  # build: .
  hostname: mail
  domainname: domain.com
  volumes_from:
   - maildata
  ports:
  - "25:25"
  - "143:143"
  - "587:587"
  - "993:993"
  volumes:
  - ./config/:/tmp/docker-mailserver/
