mail:
  image: tvial/docker-mailserver
  hostname: mail
  domainname: domain.com
  cap_add:
  - NET_ADMIN
  ports:
  - "25:25"
  - "143:143"
  - "587:587"
  - "993:993"
  volumes:
  - ./spamassassin:/tmp/spamassassin/
  - ./postfix:/tmp/postfix/
  environment:
