name: Lint

on:
  # A workflow that creates a PR will not trigger this workflow,
  # Providing a manual trigger as a workaround
  workflow_dispatch:
  pull_request:
  push:
    branches: [ master ]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Hadolint
        run: make hadolint

      - name: ShellCheck
        run: make shellcheck

      - name: ECLint
        run: make eclint
